:root {
    --orange: #F25D29;
    --bg: #F9FAFB;
    --black: rgb(59, 59, 59);
}

.grey-container {
    padding-bottom: 10%;
}

.bread-crumb {
    margin-top: 20px;
    color: var(--black);
    font-size: 13px;
    font-weight: bolder;
}

.crumb {
    display: flex;
}

.crumb i {
    margin-top: 16px;
    padding: 0 10px;
}

.page-header {
    background-color: white;
    border-radius: 10px;
    padding: 1px 10px 28px 20px;
    box-shadow: 8px 5px 25px 5px rgb(241, 239, 239);
    width: 430px
}

.page-header h2 {
    color: var(--orange);
}

.page-header .page-links a {
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 5px;
    font-weight: bold;
}

.page-header .page-links a:nth-child(2),
.page-header .page-links a:last-child {
    margin-left: 20px;
}

.notification-card {
    width: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: 8px 5px 25px 5px rgb(241, 239, 239);
    border-radius: 10px;
    margin-bottom: 20px;
}

.notification-card h3 {
    color: var(--orange);
}

@media (max-width:610px) {
    .notification-card {
        width: 90%;
    }
}

@media (max-width:600px) {
    .container h2,
    h3 {
        font-size: 16px;
    }
}

@media (max-width:500px) {
    .container h2,
    h3 {
        font-size: 14px;
    }
}

@media (max-width:530px) {
    .page-header {
        width: 93%;
    }
}