h3 {
    color: var(--orange);
}

 :root {
    --orange: #F25D29;
    --bg: #F9FAFB;
    --black: rgb(59, 59, 59);
}

.bread-crumb {
    margin-top: 20px;
    color: var(--black);
    font-size: 13px;
    font-weight: bolder;
}

.crumb {
    display: flex;
}

.test {
    color: #43434475;
}

.crumb i {
    margin-top: 16px;
    padding: 0 10px;
}

.page-header {
    background-color: white;
    border-radius: 10px;
    padding: 1px 10px 28px 20px;
    box-shadow: 8px 5px 25px 5px rgb(241, 239, 239);
    width: 540px;
}

.page-header h2 {
    color: var(--orange);
}

.page-header .page-links a {
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 5px;
    font-weight: bold;
}

.page-header .page-links a:nth-child(2),
.page-header .page-links a:last-child {
    margin-left: 20px;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    grid-gap: 30px;
    padding-bottom: 50px;
}

.wrap .sub-wrap input:focus {
    border-bottom: 1px solid var(--orange);
    transition: ease-in .15s;
}

label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: black;
    padding-bottom: 8px;
}

label span {
    color: var(--orange);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"] {
    display: block;
    border: none;
    border-bottom: 1px rgb(189, 189, 189) solid;
    outline: none;
}

select {
    border-bottom: solid 1px rgb(189, 189, 189);
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
    outline: none;
    display: block;
    background-color: transparent;
}

select:focus {
    border-bottom: solid 1px var(--orange);
    border-top: none;
    border-right: none;
    border-left: none;
}

.personal-info {
    background-color: white;
    box-shadow: 8px 5px 25px 5px rgb(241, 239, 239);
    padding: 2em .5em 2em 2em;
    border-radius: 10px;
    width: 500px;
    position: relative;
}

.personal-info .sub-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "title title" "firstname  surname" "small  state-origin" "hometown marital" "email phone" "home-address home-address" "state city";
    row-gap: 15px;
}

.personal-info .title {
    grid-area: title;
}

.personal-info .title select {
    width: 15%;
}

.personal-info .surname {
    grid-area: surname;
}

.personal-info .firstname {
    grid-area: firstname;
}

.personal-info .firstname input,
.personal-info .surname input,
.personal-info .Hometown input,
.personal-info .Email input,
.personal-info .Phone input,
.personal-info .city input {
    width: 80%;
}

.personal-info .small {
    grid-area: small;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    justify-content: space-between;
}

.personal-info .DOB input {
    width: 68%;
    background-color: transparent;
}

.personal-info .gender select,
.personal-info .state-origin select {
    margin-top: 6px;
}

.personal-info .state-origin select,
.personal-info .marital select,
.personal-info .state select {
    width: 80%;
}

.personal-info .home-address {
    grid-area: home-address;
}

.personal-info .home-address input {
    width: 90%;
}

.personal-info .btns {
    text-align: right;
    margin-right: 50px;
    padding: 40px 0 0 0;
}

.personal-info .btns input {
    border: none;
    outline: none;
    color: white;
    background-color: rgb(247, 160, 129);
    padding: .7em;
    font-weight: bold;
    border-radius: 5px;
}

.personal-info .btns button {
    border: none;
    outline: none;
    padding: .7em;
    border-radius: 3px;
    font-weight: bold;
    color: var(--orange);
    background-color: rgba(242, 95, 41, 0.26);
    margin-right: 10px;
}

.profile-photo {
    background-color: white;
    text-align: center;
    width: 380px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 8px 5px 25px 5px rgb(241, 239, 239);
    color: rgba(201, 201, 201, 0.377);
}

.profile-photo .img-container {
    clip-path: circle(70px);
}

.profile-photo input {
    margin: 10px 0;
    border: none;
    outline: none;
    padding: .7em;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(247, 160, 129);
    color: white;
    margin-right: 10px;
}

.profile-photo input:last-child {
    margin: 10px 0;
    border: none;
    outline: none;
    padding: .7em;
    border-radius: 3px;
    font-weight: bold;
    color: var(--black);
    background: transparent;
    margin-right: 10px;
}

.next-of-kin {
    background-color: white;
    box-shadow: 8px 5px 25px 5px rgb(241, 239, 239);
    padding: 2em .5em 2em 2em;
    border-radius: 10px;
    width: 500px;
}

.next-of-kin .sub-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
}

.next-of-kin .name {
    grid-column: 1/3;
}

.next-of-kin .name input {
    width: 90%;
}

.next-of-kin .address {
    grid-column: 1/3;
}

.next-of-kin .address input {
    width: 90%;
}

.next-of-kin .relationship input,
.next-of-kin .number input,
.next-of-kin .occupation input {
    width: 80%;
}

.next-of-kin .btns {
    text-align: right;
    margin-right: 50px;
    padding: 40px 0 0 0;
}

.next-of-kin .btns input {
    border: none;
    outline: none;
    color: white;
    background-color: rgb(247, 160, 129);
    padding: .7em;
    font-weight: bold;
    border-radius: 5px;
}

.next-of-kin .btns button {
    border: none;
    outline: none;
    padding: .7em;
    border-radius: 3px;
    font-weight: bold;
    color: var(--orange);
    background-color: rgba(242, 95, 41, 0.26);
    margin-right: 10px;
}

.sponsor {
    background-color: white;
    box-shadow: 8px 5px 25px 5px rgb(241, 239, 239);
    padding: 2em .5em 2em 2em;
    border-radius: 10px;
    width: 90%;
}

.sponsor .sub-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
}

.sponsor .name {
    grid-column: 1/3;
}

.sponsor .name input {
    width: 90%;
}

.sponsor .address {
    grid-column: 1/3;
}

.sponsor .address input {
    width: 90%;
}

.sponsor .relationship input,
.sponsor .number input,
.sponsor .occupation input {
    width: 80%;
}

.sponsor .btns {
    text-align: right;
    margin-right: 50px;
    padding: 40px 0 0 0;
}

.sponsor .btns input {
    border: none;
    outline: none;
    color: white;
    background-color: rgb(247, 160, 129);
    padding: .7em;
    font-weight: bold;
    border-radius: 5px;
}

.sponsor .btns button {
    border: none;
    outline: none;
    padding: .7em;
    border-radius: 3px;
    font-weight: bold;
    color: var(--orange);
    background-color: rgba(242, 95, 41, 0.26);
    margin-right: 10px;
}

.department-info {
    background-color: white;
    box-shadow: 8px 5px 25px 5px rgb(241, 239, 239);
    padding: 2em .5em 2em 2em;
    border-radius: 10px;
    width: 500px;
}

.department-info .sub-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
}

.department-info input[type="text"] {
    width: 80%;
}

.department-info .btns {
    text-align: right;
    margin-right: 50px;
    padding: 40px 0 0 0;
}

.department-info .btns input {
    border: none;
    outline: none;
    color: white;
    background-color: rgb(247, 160, 129);
    padding: .7em;
    font-weight: bold;
    border-radius: 5px;
}

.department-info .btns button {
    border: none;
    outline: none;
    padding: .7em;
    border-radius: 3px;
    font-weight: bold;
    color: var(--orange);
    background-color: rgba(242, 95, 41, 0.26);
    margin-right: 10px;
}

@media(max-width:1095px) {
    .wrap {
        grid-template-columns: repeat(1, 1fr);
    }
    .profile-photo-container {
        grid-row: 1/2;
    }
    .sponsor {
        width: 500px;
    }
}

@media(max-width:640px) {
    .page-header {
        width: 90%;
    }
    .personal-info,
    .next-of-kin,
    .sponsor,
    .department-info {
        width: 88%;
    }
}

@media(max-width:600px) {
    .personal-info .DOB input {
        width: 60%;
        margin-left: 9%;
    }
}

@media(max-width:455px) {
    .profile-photo {
        width: 80%;
    }
}

@media(max-width:430px) {
    .profile-photo {
        width: 90%;
    }
    .personal-info .sub-wrap {
        display: block;
    }
    .personal-info .sub-wrap div {
        padding-bottom: 15px;
    }
    .personal-info .sub-wrap input,
    .personal-info .sub-wrap select {
        display: block;
    }
    .personal-info .small {
        display: block;
    }
    .personal-info .DOB input {
        width: 78%;
        margin-left: unset;
    }
    .small select {
        width: 78%;
    }
    .personal-info .home-address input {
        width: 79%;
    }
    .next-of-kin .sub-wrap {
        display: block;
    }
    .next-of-kin .sub-wrap div {
        padding-bottom: 15px;
    }
    .next-of-kin .sub-wrap input {
        width: 90%;
    }
    .sponsor .sub-wrap {
        display: block;
    }
    .sponsor .sub-wrap div {
        padding-bottom: 15px;
    }
    .sponsor .sub-wrap input {
        width: 90%;
    }
    .department-info .sub-wrap {
        display: block;
    }
    .department-info .sub-wrap div {
        padding-bottom: 15px;
    }
    .department-info .sub-wrap input {
        width: 90%;
    }
}